a:link{
    color: blue;
    text-decoration: none;
    margin: 7px;
    font-family: sans-serif;
}
a:visited{
    color: blue;
    text-decoration: none;
    margin: 7px;
    font-family: sans-serif;
}
